subconverter.exe
.vscode
cmake-build-debug
.idea
base/cache
scripts/quickjspp
scripts/yaml-cpp
.DS_Store
src/.DS_Store

build
/scripts/tests/.live_dialer_case/cache
/scripts/tests/.live_dialer_case
scripts/tests/live_dialer_case.sh
